:root {
  --brand-color: #2196f3;
  --primay-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: #000000;
  --title-text-color: #212121;
  --bg-color-primary: #ffffff;
  --bg-color-second: #f5f4fa;
  --bg-color-third: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font: 'Roboto';
  --second-font: 'Raleway';
  --indent: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.page {
  color: var(--title-text-color);
  background-color: var(--bg-color-primary);
  font-family: var(--primary-font), sans-serif;
  letter-spacing: 0.03em;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--animation);
}

.header__link:hover,
.header__link:focus {
  color: var(--brand-color);
}

.header__link--current {
  position: relative;
  color: var(--brand-color);
}

.header__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.header__contacts {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: none;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--primay-text-color);
  fill: var(--primay-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--animation), fill var(--animation);
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.header__contacts-link:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.header__contacts-icon {
  margin-right: 10px;
  fill: inherit;
}

.mob-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__btn {
  position: relative;
  z-index: 100;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-primary);
  fill: var(--title-text-color);
}

.mob-menu__btn:focus, .mob-menu__btn:hover, .mob-menu__btn:active {
  fill: var(--brand-color);
}

.mob-menu__icon--menu {
  opacity: 1;
}

.mob-menu__btn.is-open .mob-menu__icon--menu {
  opacity: 0;
}

.mob-menu__icon--close {
  opacity: 0;
}

.mob-menu__btn.is-open .mob-menu__icon--close {
  opacity: 1;
}

.menu__modal {
  overflow-y: scroll;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--bg-color-primary);
  transition: 400ms;
}

.menu__modal.is-open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .menu__modal {
    display: none;
  }
}

.menu_a {
  width: 480px;
}

.menu__nav {
  max-width: 480px;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu__link:hover, .menu__link:focus {
  color: var(--brand-color);
}

.menu__link--current {
  color: var(--brand-color);
}

.menu__contacts-tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

@media screen and (max-width: 479.98px) {
  .menu__contacts-tel {
    font-size: 26px;
  }
}

.menu__contacts-mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primay-text-color);
}

.menu__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu__social-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 479.98px) {
  .menu__social-item:not(:last-child) {
    margin-right: 5px;
  }
}

.menu__social-item:not(:last-child):after {
  content: '';
  margin-left: 10px;
  width: 2px;
  height: 22px;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 479.98px) {
  .menu__social-item:not(:last-child):after {
    height: 16px;
    margin-left: 5px;
  }
}

.menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

@media screen and (max-width: 479.98px) {
  .menu__social-link {
    font-size: 12px;
  }
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/bg-img_mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/bg-img@2x_mob.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/bg-img_tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/bg-img@2x_tab.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/bg-img_des.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/bg-img@2x_des.jpg);
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--second-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__item {
  align-items: center;
  --items: 1;
}

@media screen and (min-width: 768px) {
  .features__item {
    --items: 2;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    --items: 4;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background: var(--bg-color-second);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .features__title {
    display: flex;
    justify-content: center;
  }
}

.features__text {
  color: var(--primay-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.work__section {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .work__section {
    display: block;
  }
}

.work__list {
  align-items: center;
}

.work__item {
  --items: 3;
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team__section {
  background-color: var(--bg-color-second);
}

.team__list {
  align-items: center;
}

.team__item {
  --items: 1;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .team__item {
    --items: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --items: 4;
  }
}

.team__info {
  background-color: var(--bg-color-primary);
  padding: 30px 10px;
}

@media screen and (max-width: 1199.98px) {
  .team__info {
    padding-bottom: 24px;
  }
}

.team__person {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team__position {
  margin-bottom: 16px;
  color: var(--primay-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.customer__list {
  align-items: center;
}

.customer__item {
  --items: 2;
}

@media screen and (min-width: 768px) {
  .customer__item {
    --items: 3;
  }
}

@media screen and (min-width: 1200px) {
  .customer__item {
    --items: 6;
  }
}

.customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--animation), fill var(--animation);
}

.customer__link:hover,
.customer__link:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.customer__logo:hover,
.customer__logo:focus {
  fill: inherit;
}

.footer {
  background-color: var(--bg-color-third);
}

.footer__cotainer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__cotainer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__cotainer {
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__contacts {
  text-align: center;
  margin: 0 0 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin: 0 195px 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: start;
    margin: 0 70px 0 0;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.contacts__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts__street {
  color: var(--second-text-color);
  text-decoration: none;
}

.contacts__link {
  display: block;
  margin-top: 9px;
  color: var(--address-color);
  text-decoration: none;
  transition: color var(--animation);
}

@media screen and (max-width: 1199.98px) {
  .contacts__link {
    margin-top: 8px;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--brand-color);
}

.footer__social {
  text-align: center;
  margin: 0 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    text-align: start;
    margin: 0 93px 0 0;
  }
}

.footer__subskribe {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subskribe {
    text-align: start;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.subskribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subskribe__form {
    display: flex;
    flex-direction: row;
  }
}

.subskribe__input {
  display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: 0 0 20px 0;
  padding-left: 16px;
  color: var(--second-text-color);
  background-color: var(--bg-color-third);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .subskribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subskribe__input {
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.subskribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.body-fixed {
  overflow: hidden;
}

.backdrop {
  display: flex;
  position: fixed;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 500ms ease, opacity 500ms ease, visibility 500ms ease;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(1.7);
}

.modal {
  position: relative;
  overflow-y: scroll;
  margin: auto;
  padding: 40px;
  max-width: 450px;
  min-height: 609px;
  background-color: var(--bg-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-primary);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: var(--animation);
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: var(--brand-color);
}

.modal__icon {
  display: inline-block;
  fill: var(--third-text-color);
  transition: var(--animation);
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: var(--brand-color);
}

.callback {
  display: flex;
  flex-direction: column;
}

.callback__caption {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.callback__main-btn {
  margin-left: auto;
  margin-right: auto;
}

.callback__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.callback__comment {
  margin-bottom: 20px;
}

.callback__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primay-text-color);
}

.callback__input {
  appearance: none;
  outline: none;
  display: block;
  height: 40px;
  padding-left: 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.callback__input:focus {
  border-color: var(--brand-color);
}

.callback__input:focus + .callback__icon {
  fill: var(--brand-color);
}

.callback__input--textarea {
  appearance: none;
  outline: none;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.callback__input--textarea:focus {
  border-color: var(--brand-color);
}

.callback__input--textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-color);
}

.callback__item-policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primay-text-color);
}

@media screen and (min-width: 1200px) {
  .callback__item-policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.callback__icon-policy {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.callback__input-policy:checked + .callback__icon-policy {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.callback__link-policy {
  color: var(--brand-color);
  text-decoration: underline;
}

.filter__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  column-gap: 8px;
  row-gap: 15px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.projects__items {
  display: flex;
  --items: 1;
}

@media screen and (min-width: 768px) {
  .projects__items {
    --items: 2;
  }
}

@media screen and (min-width: 1200px) {
  .projects__items {
    --items: 3;
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow var(--animation);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__picture {
  position: relative;
  overflow: hidden;
}

.projects__info {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 0px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation);
}

@media screen and (max-width: 479.98px) {
  .projects__info {
    font-size: 14px;
  }
}

.projects__link:hover .projects__info,
.projects__link:focus .projects__info {
  transform: translateY(0);
}

.projects__description {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  color: var(--primay-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.logo {
  display: block;
  color: var(--brand-color);
  font-family: var(--second-font), sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--lights-style {
  color: var(--third-text-color);
}

.logo--dark-style {
  color: var(--second-text-color);
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--animation), fill var(--animation);
}

.social__link--light-style {
  fill: #afb1b8;
}

.social__link--light-style:hover,
.social__link--light-style:focus {
  background-color: var(--brand-color);
  fill: var(--second-text-color);
}

.social__link--dark-style {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--second-text-color);
}

.social__link--dark-style:hover,
.social__link--dark-style:focus {
  background-color: var(--brand-color);
}

.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--second-text-color);
  background-color: var(--brand-color);
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--animation);
}

.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
}

.main-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}

.second-btn {
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--bg-color-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.second-btn:hover, .second-btn:focus {
  color: var(--second-text-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */