.customer__list {
  align-items: center;
}
.customer__item {
  --items: 2;
  @include mq(tablet) {
    --items: 3;
  }
  @include mq(desktop) {
    --items: 6;
  }
}
.customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 170px;
  height: 92px;
  fill: #afb1b8;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color var(--animation), fill var(--animation);
}

.customer__link:hover,
.customer__link:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}
.customer__logo:hover,
.customer__logo:focus {
  fill: inherit;
}
