.features__list {
}
.features__item {
  align-items: center;
  --items: 1;
  @include mq(tablet) {
    --items: 2;
  }
  @include mq(desktop) {
    --items: 4;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  // width: 270px;
  height: 120px;
  background: var(--bg-color-second);
  border-radius: 4px;
}
.features__title {
  @include mq(mobile-only) {
    display: flex;
    justify-content: center;
  }
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  color: var(--primay-text-color);
  font-size: 14px;
  line-height: 1.71;
}
