.filter__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  column-gap: 8px;
  row-gap: 15px;
  @include mq(tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    margin-bottom: 50px;
  }
}
