.projects__list {
}
.projects__items {
  display: flex;
  --items: 1;
  @include mq(tablet) {
    --items: 2;
  }
  @include mq(desktop) {
    --items: 3;
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__picture {
  position: relative;
  overflow: hidden;
}

.projects__info {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 0px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation);
  @include mq(mobile-small) {
    font-size: 14px;
  }

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0);
  }
}

.projects__description {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.project__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project__text {
  color: var(--primay-text-color);
  font-size: 16px;
  line-height: 1.88;
}
