.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--animation), fill var(--animation);
}
.social__link--light-style {
  fill: #afb1b8;
}
.social__link--light-style:hover,
.social__link--light-style:focus {
  background-color: var(--brand-color);
  fill: var(--second-text-color);
}
.social__link--dark-style {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--second-text-color);
}
.social__link--dark-style:hover,
.social__link--dark-style:focus {
  background-color: var(--brand-color);
}
