.work__section {
  display: none;
  padding-top: 0;
  @include mq(desktop) {
    display: block;
  }
}

.work__list {
  align-items: center;
}
.work__item {
  --items: 3;
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
