.page {
  color: var(--title-text-color);
  background-color: var(--bg-color-primary);
  font-family: var(--primary-font), sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
