.header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 88px;
  @include mq(desktop) {
    margin-right: 93px;
  }
}

.header__list {
  display: flex;
  align-items: center;

  @include mq(mobile-only) {
    display: none;
  }
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation);
}
.header__link:hover,
.header__link:focus {
  color: var(--brand-color);
}
.header__link--current {
  position: relative;
  color: var(--brand-color);
}
.header__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.header__contacts {
  display: flex;
  align-items: center;
  @include mq(tablet-only) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mq(mobile-only) {
    display: none;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  color: var(--primay-text-color);
  fill: var(--primay-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation), fill var(--animation);
  @include mq(desktop) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.header__contacts-link:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.header__contacts-icon {
  margin-right: 10px;
  fill: inherit;
}
