:root {
  --brand-color: #2196f3;
  --primay-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: #000000;
  --title-text-color: #212121;
  --bg-color-primary: #ffffff;
  --bg-color-second: #f5f4fa;
  --bg-color-third: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font: 'Roboto';
  --second-font: 'Raleway';
  --indent: 30px;
}
